services:
  manager:
    build: 
      context: ./manager
    image: smartminer_manager_img:latest
    container_name: smartminer_manager
    restart: unless-stopped
    privileged: true
    environment:
      - CHROME_BIN=/usr/bin/chromium
      - CHROMEDRIVER_PATH=/usr/bin/chromedriver
      - PYTHONUNBUFFERED=1
      - HOST_JSON_PATH=${PWD}/json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./json:/app/json
      - ./manager/links.txt:/app/links.txt

    depends_on:
      worker_builder:
        condition: service_completed_successfully

  worker_builder:
    build: 
      context: ./worker
    image: smartminer_worker_img
    container_name: builder_helper
    entrypoint: ["/bin/true"]