services:
  manager:
    build: ./manager
    image: smartminer_manager_img:latest
    container_name: smartminer_manager_node2
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    environment:
      - CHROME_BIN=/usr/bin/chromium
      - CHROMEDRIVER_PATH=/usr/bin/chromedriver
      - PYTHONUNBUFFERED=1
      - HOST_JSON_PATH=${PWD}/json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./json:/app/json
      - /sys:/sys:ro
    depends_on:
      worker_builder:
        condition: service_completed_successfully

  worker_builder:
    build: ./worker
    image: smartminer_worker_img
    entrypoint: ["/bin/true"]
