services:
  manager:
    build: 
      context: ./manager
    container_name: smartminer_manager_master
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    init: true
    environment:
      - CHROME_BIN=/usr/bin/chromium
      - CHROMEDRIVER_PATH=/usr/bin/chromedriver
      - PYTHONUNBUFFERED=1
      - HOST_JSON_PATH=${PWD}/json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${PWD}/json:/app/json
      - ${PWD}/manager/links.txt:/app/links.txt
      - /sys:/sys:ro
    cpus: '2'
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"

  dashboard:
    build: ./dashboard
    container_name: smartminer_dashboard
    restart: unless-stopped
    cpus: '0.5'
    volumes:
      - ${PWD}/json:/app/json
      - /sys:/sys:ro
    # Very important - extra_hosts
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "16000:16000"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    
  order_server:
    image: python:3.10-slim
    container_name: smartminer_order_server
    command: python -m http.server 16001
    working_dir: /data
    volumes:
      - ${PWD}/json:/data
    ports:
      - "16001:16001"  
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"